.category-wrapper {
  background-image: url("../media/C1bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.category-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  margin-top: 2rem;
}

.category-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.category-name img {
  width: 5rem;
  height: 5rem;
  margin: 0;
}

.category-name h2 {
  font-size: 2.5rem;
  color: #fff;
}

.category-heading .category-timer {
  background-color: #00c3ff7a;
  padding: 0.5rem 1.5rem;
  color: #fff;
  font-size: 1.6rem;
}

.category-questions {
  display: flex;
  flex-direction: column;
  margin: 5% 20%;
  color: #fff;
  z-index: 1;
}

.category-question {
  font-size: 1.5rem;
  background-color: #00c3ff7a;
  padding: 1.5rem 2rem;
}

.category-answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-right: 30%;
  margin-top: 2rem;
}

.category-answers button {
  font-size: 1.4rem;
  background-color: #00c3ff7a;
  border: none;
  padding: 0.6rem 0;
  color: #fff;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.category-answers button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  filter: grayscale(70%);
  transform: none;
  box-shadow: none;
}

.answer:hover {
  transform: translateY(-3px) scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.correct-answer {
  background-color: #00ff00 !important;
  opacity: 1 !important;
  filter: none !important;
}

#BIG-ICON {
  display: block;
  width: 10rem;
  transform: scale(2);
  transform-origin: center;
  position: absolute;
  margin: 0;
  bottom: 20%;
  right: 20%;
}

@media (max-width: 768px) {
  .category-answers {
    grid-template-columns: 1fr;
    margin-right: 0;
    /* margin: 2rem auto 0 auto; */
  }

  .category-question {
    font-size: 1.6rem;
  }

  .category-answers button {
    width: 100%;
    padding: 0.5rem 2rem;
    font-size: 1.6rem;
  }

  .category-heading .category-timer {
    margin-right: 1rem;
  }

  .category-name img {
    margin-left: 1rem;
  }

  #BIG-ICON {
    display: block;
    width: 10rem;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
  } 
}
