.profile-wrapper {
  background-image: url("../media/ProfileBg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0;
  align-items: flex-start;
}

.profile-wrapper-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.profile-wrapper-left img {
  margin-left: 20%;
  margin-top: 10%;
  margin-right: 0;
  max-width: 35vw;
  cursor:pointer;
}

.profile-wrapper-left .profile-points {
  align-self: flex-start;
  margin-left: 20%;
  padding: 1rem 9rem;
  font-size: 1.6rem;
  white-space: nowrap;
  background-color: #00c3ff;
  color: #fff;
}

.profile-wrapper-right {
  display: flex;
  flex-direction: column;
  width: 50vw;
  font-size:1.4rem;
}

.profile-user-data {
  background-color: #00c3ffb3;
  color: #fff;
  margin-right: 20%;
  margin-top: 10%;
  padding: 1.5rem;
}

.profile-user-data span {
  color: #00296b;
}

.profile-wrapper-right .profile-user-data button {
  background-color: #ffffffb7;
  color: #00296b;
  text-align: center;
  margin: 1rem auto;
  display: block;
  font-size: 1.4rem;
  padding: 0 2rem;
  transition: box-shadow 0.3s ease-in-out;
}

.profile-wrapper-right .profile-user-data button:hover {
  box-shadow: 0 0 20px 6px #ffffff;
}


.profile-wrapper #DELETE-DATA {
  background-color: #93d9ff;
  color: #00296b;
  font-size:1.4rem;
  margin: 10% 20% 0 0;
  display: block;
  transition: box-shadow 0.3s ease-in-out;
}
.profile-wrapper #DELETE-DATA:hover {
  box-shadow: 0 0 20px 6px #ffffff;
}

.profile-wrapper .guest-prompt {
  align-self:center;
  justify-items: center;
  margin:0 auto;
  background-color: #004bc3d4;
  padding:1rem 2rem;
  font-size:1.4rem;
  color: #fff;
}

.profile-wrapper .guest-prompt button {
  background-color: #93d9ffa2;
  font-size:1.4rem;
  color: #fff;
  margin-top: 0.7rem;
  padding: 0.2rem 1rem;
  transition: box-shadow 0.3s ease-in-out;
}

.profile-wrapper .guest-prompt button:hover {
  box-shadow: 0 0 20px 6px #70f1fa;
}

.profile-wrapper .guest-prompt a {
  color: #70f1fa;
}

.profile-wrapper .update-form-wrapper {
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #00296b90;
  background-image: none;
  display: none;
}